<footer class="text-center text-white bg-dark">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <%= link_to "https://www.facebook.com/", class: "btn btn-outline-light btn-floating m-1" do %>
                <i class="fab fa-facebook-f"></i>
            <% end %>
            <%= link_to "https://mail.google.com/", class: "btn btn-outline-light btn-floating m-1" do %>
                <i class="fa fa-envelope"></i>
            <% end %>
            <%= link_to "https://www.linkedin.com/", class: "btn btn-outline-light btn-floating m-1" do %>
                <i class="fab fa-linkedin-in"></i>
            <% end %>
            <%= link_to "https://github.com/", class: "btn btn-outline-light btn-floating m-1" do %>
                <i class="fab fa-github"></i>
            <% end %>
        </section>
    </div>
    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">NgocPHV</a>
    </div>
</footer>